{
    "request": {
        "command": "import",
        "service": "data"
    },
    "db": {
        "driver": "postgres",
        "connection": "host=localhost port=5432 user=accountancy password=accountancy dbname=accountancy sslmode=disable",
        "show": true
    },
    "body": {
        "objects": [
            {{range .}}{{.Delemiter}}
            {
                "name": "{{.Name}}",
                "props": {{.Props}},
                "traits": [
                    "{{.TraitName}}"
                ]
            }{{end}}
        ]
    }
}