{
    "request": {
        "command": "system",
        "service": "upload"
    },
    "db": {
        "driver": "postgres",
        "connection": "host=localhost port=5432 user=accountancy password=accountancy dbname=accountancy sslmode=disable",
        "show": true
    },
    "body": {
        "uuid": "{{.UUID}}",
        "name": "{{.Name}}",
        "props": {},
        "content": "{{.Content}}"
    }
}